[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = /home/kerry/catkin_ws/src/slam_gmapping
[submodule "src/turtlebot"]
	path = src/turtlebot
	url = /home/kerry/catkin_ws/src/turtlebot
[submodule "src/turtlebot_interactions"]
	path = src/turtlebot_interactions
	url = /home/kerry/catkin_ws/src/turtlebot_interactions
[submodule "src/turtlebot_simulator"]
	path = src/turtlebot_simulator
	url = /home/kerry/catkin_ws/src/turtlebot_simulator
[submodule "src/teleop_twist_keyboard"]
	path = src/teleop_twist_keyboard
	url = /home/kerry/catkin_ws/src/teleop_twist_keyboard
